h1 {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#HTML {

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px; 
  text-decoration: underline;
  color: red;
  text-align: center;
  outline-style: dotted;
}

.HI {
  font-family: verdana;
  color: blue;
  text-align: center;
  font-weight: bold;
  line-height: 1.8;
  text-shadow: 1px 1px;
  outline-style: double;
}

body {
  background-color: gold;
}

.text {
  line-height: 2;
  color: blueviolet;
  
}

#final-words {

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 40px;
}

/* Some of the new tags that I was using is outline-style and text-shadow.*/